@*@model IEnumerable<Bookstore.ViewModels.AuthorViewModel>

@using Bookstore.Models

<table border="1">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.authorName</td>
            <td>@item.alive</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = item.id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
        </tr>
    }
</table>
@Html.ActionLink("New author", "Create", "Authors") <br />*@

<script type="text/ng-template" id="deleteAuthorModal.html">
    <div>
        <label></label> <br />
        <input ng-click="deleteAuthor()" type="button" class="btn btn-primary" value="Delete"/>
        <input ng-click="cancel()" type="button" class="btn btn-default" value="Cancel"/>
    </div>
</script>

<script type="text/ng-template" id="updateAuthorModal.html">
    <div>
        <form>
            <input ng-model="modalAuthor.authorName" type="text" /> <br />
            <input ng-model="modalAuthor.alive" type="checkbox" /> <br />
        </form>
        <input type="button" ng-click="updateAuthor()" class="btn btn-default" value="Save" />
        <input type="button" ng-click="cancel()" class="btn btn-default" value="Cancel" />
    </div>         
</script>

<div ng-controller="AuthorController as authorCtrl" ng-init="initialiseMainTable()">
        <table border="1">
            <tr ng-repeat="author in authors" class="row">
                <td class="hidden-xs col-md-3" ng-bind="author.id"></td>
                <td class="col-xs-6 col-md-3" ng-bind="author.authorName"></td>
                <td class="col-xs-6 col-md-3" ng-bind="author.alive"></td>
                <td><a class="btn btn-primary" ng-href="/Authors/Details/?{{author.id}}">Details</a></td>
                <td class="hidden-xs col-md-1"><input ng-click="updateAuthorModal(author)" type="button" value="Update" class="btn btn-warning" /></td>
                <td class="hidden-xs col-md-1"><input ng-click="deleteAuthorModal(author)" type="button" value="Delete" class="btn btn-danger" /></td>
            </tr>
        </table>
    <input ng-click="redirectToCreate()" type="button" class="btn btn-default" value="New author"/>
</div>

