@*@model IEnumerable<Bookstore.ViewModels.AuthorViewModel>

@using Bookstore.Models

<table border="1">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.authorName</td>
            <td>@item.alive</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = item.id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
        </tr>
    }
</table>
@Html.ActionLink("New author", "Create", "Authors") <br />*@

<div ng-controller="AuthorController as authorCtrl" ng-init="initialiseMainTable()">
        <table border="1">
            <tr ng-repeat="author in authors" class="row">
                <td ng-bind="author.id" class="hidden-xs"></td>
                <td class="col-xs-6" ng-bind="author.authorName"></td>
                <td class="col-xs-6" ng-bind="author.alive"></td>
                <td><input ng-click="redirectToDetails(author)" type="button" value="Details" class="btn btn-primary" /></td>
                <td><input type="button" value="Update" class="btn btn-warning" /></td>
                <td><input ng-click="deleteAuthor(author)" type="button" value="Delete" class="btn btn-danger" /></td>
            </tr>
        </table>
    <input type="button" ng-click="redirectToCreate()" class="btn btn-default" value="New author"/>
</div>

