@*@model IEnumerable<Bookstore.ViewModels.ISBNViewModel>

@using Bookstore.Models

<table border="1">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.isbn</td>
            <td>@item.country</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = item.id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
        </tr>
    }
</table>
@Html.ActionLink("New isbn", "Create", "ISBN") <br />*@

<script type="text/ng-template" id="deleteISBNModal.html">
    <div>
        <label></label> <br />
        <input ng-click="deleteISBN()" type="button" class="btn btn-primary" value="Delete" />
        <input ng-click="cancel()" type="button" class="btn btn-default" value="Cancel" />
    </div>
</script>

<script type="text/ng-template" id="updateISBNModal.html">
    <div>
        <form>
            <input type="text" ng-model="modalISBN.isbn" />
            <select ng-model="modalISBN.country">
                <option ng-repeat="option in countryList" value="{{option}}" ng-bind="option"></option>
            </select>
        </form>
        <input type="button" ng-click="updateISBN()" class="btn btn-default" value="Save" />
        <input type="button" ng-click="cancel()" class="btn btn-default" value="Cancel" />
    </div>
</script>

<div ng-controller="ISBNController as isbnCtrl" ng-init="initialiseMainTable()">
    <table border="1">
        <tr ng-repeat="isbnItem in isbnList">
            <td ng-bind="isbnItem.isbn"></td>
            <td ng-bind="isbnItem.country"></td>
            <td><a class="btn btn-primary" ng-href="/ISBN/Details/?{{isbnItem.id}}">Details</a></td>
            <td><input ng-click="updateISBNModal(isbnItem)" type="button" value="Update" class="btn btn-warning" /></td>
            <td><input ng-click="deleteISBNModal(isbnItem)" type="button" value="Delete" class="btn btn-danger" /></td>
        </tr>
    </table>
    <input ng-click="redirectToCreate()" type="button" value="New ISBN" class="btn btn-default"/>
</div>
