@*@model IEnumerable<Bookstore.ViewModels.BookViewModel>

@using Bookstore.Models

<table border="1">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.bookTitle</td>
            <td>@item.release</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = item.id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
        </tr>
    }
</table>
@Html.ActionLink("New book", "Create", "Books") <br />*@

<div ng-controller="BookController as bookCtrl" ng-init="initialiseMainTable()">
    <table border="1">
        <tr ng-repeat="book in bookList">
            <td ng-bind="book.bookTitle"></td>
            <td ng-bind="book.release"></td>
            <td><input type="button" value="Details" class="btn btn-primary" ng-click="redirectToDetails(book)"/></td>
            <td><input type="button" value="Update" class="btn btn-warning" /></td>
            <td><input type="button" value="Delete" class="btn btn-danger" ng-click="deleteBook(book)"/></td>
        </tr>
    </table>
    <input type="button" ng-click="redirectToCreate()" class="btn btn-default" value="New book"/>
</div>


