@*@model IEnumerable<Bookstore.ViewModels.BookViewModel>

@using Bookstore.Models

<table border="1">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.bookTitle</td>
            <td>@item.release</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = item.id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
        </tr>
    }
</table>
@Html.ActionLink("New book", "Create", "Books") <br />*@

<script type="text/ng-template" id="deleteBookModal.html">
    <div>
        <label></label> <br />
        <input ng-click="deleteBook()" type="button" class="btn btn-primary" value="Delete" />
        <input ng-click="cancel()" type="button" class="btn btn-default" value="Cancel" />
    </div>
</script>

<script type="text/ng-template" id="updateBookModal.html">
    <div>
        <form>
            <input type="text" ng-model="modalBook.bookTitle" />
            <select ng-model="modalBook.isbnID">
                <option ng-repeat="isbn in isbnList" ng-bind="isbn.name" value="{{isbn.id}}"></option>
            </select>
            <select ng-model="modalBook.authorID">
                <option ng-repeat="author in authorList" ng-bind="author.name" value="{{author.id}}"></option>
            </select>
            <div ng-repeat="reader in readerList">
                <label ng-bind="reader.name"></label><input type="checkbox" ng-model="reader.isReader" /><br />
            </div>
            <div style="display:inline-block; min-height:290px;">
                <div uib-datepicker ng-model="modalBook.release" class="well well-sm" datepicker-options="options"></div>
            </div>
        </form>
        <input type="button" ng-click="updateBook()" class="btn btn-default" value="Save" />
        <input type="button" ng-click="cancel()" class="btn btn-default" value="Cancel" />
    </div>
</script>

<div ng-controller="BookController as bookCtrl" ng-init="initialiseMainTable()">
    <table border="1">
        <tr ng-repeat="book in bookList">
            <td ng-bind="book.bookTitle"></td>
            <td ng-bind="book.release | date"></td>
            <td><input type="button" value="Details" class="btn btn-primary" ng-click="redirectToDetails(book)"/></td>
            <td><input type="button" value="Update" class="btn btn-warning" ng-click="updateBookModal(book)"/></td>
            <td><input type="button" value="Delete" class="btn btn-danger" ng-click="deleteBookModal(book)"/></td>
        </tr>
    </table>
    <input ng-click="redirectToCreate()" type="button" class="btn btn-default" value="New book"/>
</div>


