@*@model IEnumerable<Bookstore.ViewModels.ReaderViewModel>

@using Bookstore.Models

<table border="1">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.genre</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = item.id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
        </tr>
    }
</table>
@Html.ActionLink("New Reader", "Create", "Readers") <br />*@

<script type="text/ng-template" id="deleteReaderModal.html">
    <div>
        <label></label> <br />
        <input ng-click="deleteReader()" type="button" class="btn btn-primary" value="Delete" />
        <input ng-click="cancel()" type="button" class="btn btn-default" value="Cancel" />
    </div>
</script>

<script type="text/ng-template" id="updateReaderModal.html">
    <div>
        <form>
            <input type="text" ng-model="modalReader.name" />
            <select ng-model="modalReader.genre">
                <option ng-repeat="genre in genreList" ng-bind="genre" value="{{genre}}"></option>
            </select>
        </form>
        <input type="button" ng-click="updateReader()" class="btn btn-default" value="Save" />
        <input type="button" ng-click="cancel()" class="btn btn-default" value="Cancel" />
    </div>
</script>

<div ng-controller="ReaderController as readerCtrl" ng-init="initialiseMainTable()">
    <table border="1">
        <tr ng-repeat="reader in readerList">
            <td ng-bind="reader.name"></td>
            <td ng-bind="reader.genre"></td>
            <td><a class="btn btn-primary" ng-href="/Readers/Details/?{{reader.id}}">Details</a></td>
            <td><input ng-click="updateReaderModal(reader)" type="button" value="Update" class="btn btn-warning" /></td>
            <td><input ng-click="deleteReaderModal(reader)" type="button" value="Delete" class="btn btn-danger" /></td>
        </tr>
    </table>
    <input ng-click="redirectToCreate()" type="button" value="New reader" class="btn btn-default"/>
</div>


