@*@model IEnumerable<Bookstore.ViewModels.ReaderViewModel>

@using Bookstore.Models

<table border="1">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.genre</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = item.id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
        </tr>
    }
</table>
@Html.ActionLink("New Reader", "Create", "Readers") <br />*@

<div ng-controller="ReaderController as readerCtrl" ng-init="initialiseMainTable()">
    <table border="1">
        <tr ng-repeat="reader in readerList">
            <td ng-bind="reader.name"></td>
            <td ng-bind="reader.genre"></td>
            <td><input ng-click="redirectToDetails(reader)" type="button" value="Details" class="btn btn-primary" /></td>
            <td><input type="button" value="Update" class="btn btn-warning" /></td>
            <td><input ng-click="deleteReader(reader)" type="button" value="Delete" class="btn btn-danger" /></td>
        </tr>
    </table>
    <input type="button" value="New reader" class="btn btn-default"/>
</div>


